<div class="sc-tab skills fcol fw">
  <% Object.entries(constants.skillGroups).forEach(([gk, group]) => { %>
    <div class="skill fcol fw">
      <div class="frow fw">
        <div class="sc-skill-group frow fw">
          <% const equation = !group.special ? `@{${group.mainStat}} + @{grp_${gk}_known} + @{grp_${gk}_bonus}` : `@{grp_${gk}_known} + @{grp_${gk}_bonus}` %>
          <label class="toggle-input">
            <input type="checkbox" name="attr_toggle_sg_<%= gk %>" value="on" />
            <div class="toggle-button"></div>
          </label>
          <span class="skl-total">
            <span>x</span>
            <input
              disabled
              type="number"
              name="attr_skl_<%= gk %>_total"
              value="<%= equation %>"
            />
          </span>
          <label class="skill-checkbox skill-known" title="Connu">
            <input
              type="checkbox"
              name="attr_grp_<%= gk %>_known"
              value="1"
            />
            <div class="skill-checkmark known"></div>
          </label>
          <% if (!group.special) { %>
            <button
              type="action"
              name="act_roll-skill"
              class="line-input"
              value="skl_<%= gk %>_total"
              data-name="<%= group.name %>"
            ><%= group.name %></button>
            <div class="skill-stat main-stat">
              <%= constants.stats[group.mainStat].toUpperCase().slice(0, 3) %>
            </div>
          <% } else { %>
            <h3 class="line-input">* <%= group.name %></h3>
          <% } %>
          <div class="skill-stat off-stat">
            <%= constants.stats[group.offStat].toUpperCase().slice(0, 3) %>
          </div>
          <div class="fcol skill-bonus">
            <div class="frow fw skill-plus">
              <input
                type="number"
                class="skl-bonus"
                name="attr_grp_<%= gk %>_bonus"
                value="0"
              />
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" class="toggle-control" name="attr_toggle_sg_<%= gk %>" />
      <div class="skills-list <%= gk %> togglable fcol fw">
        <% Object.entries(group.skills).forEach(([_sk, skill]) => { %>
          <% if (!group.special) { %>
            <%- include('../parts/skill.ejs', {
              constants,
              gk,
              group,
              sk: _sk,
              mainStat: group.mainStat,
              offStat: group.offStat,
              skillName: skill
            }) %>
          <% } else { %>
            <% Object.entries(skill).forEach(([sk, skillName]) => { %>
              <%- include('../parts/skill.ejs', {
                constants,
                gk,
                group,
                sk,
                mainStat: _sk,
                offStat: group.offStat,
                skillName
              }) %>
            <% }) %>
          <% } %>
        <% }) %>
        <div class="list-spacer"></div>
      </div>
    </div>
  <% }) %>
</div>
