<div class="sc-tab weapons fcol fw">
  <fieldset class="repeating_weapons">
    <input type="hidden" name="attr_archetype" value="custom" />
    <input type="hidden" name="attr_wcaliber" />
    <input type="hidden" name="attr_wtype" value="melee" />
    <input type="hidden" name="attr_wwounds_type" value="inc" />
    <input type="hidden" name="attr_wimage" value="none" />
    <div class="weapon fcol fw">
      <h3 class="sc-wname fw frow">
        <label class="toggle-input">
          <input type="checkbox" name="attr_toggle_weapon" value="on" />
          <div class="toggle-button"></div>
        </label>
        <input
          type="text"
          name="attr_wname"
          class="line-input editable"
          placeholder="Nom de l'arme"
        />
        <input
          readonly
          type="text"
          name="attr_wname"
          class="line-input noneditable"
          placeholder="Nom de l'arme"
        />
        <input
          readonly
          type="number"
          name="attr_whits"
          value="1"
          min="1"
        />
        <span>x</span>
        <input
          readonly
          type="number"
          name="attr_wwounds"
          value="1"
          min="1"
          max="3"
        />
        <span class="penetration">t</span>
        <input
          readonly
          type="number"
          name="attr_wpenetration"
          value="0"
          min="0"
        />
        <button type="action" name="act_attackroll" title="Attaquer">F</button>
      </h3>
      <input type="hidden" class="toggle-control" name="attr_toggle_weapon" />
      <div class="fw fcol togglable weapon-details">
        <div class="frow fw weapon-archetype">
          <h4 class="subtopic">Archétype<span>|></span></h4>
          <select name="attr_archetype" class="line-input">
            <option value="custom" selected>Personnalisé</option>
            <option disabled>-- UNE MAIN --</option>
            <% Object.entries(constants.weapons.onehanded).sort(([_k1, w1], [_k2, w2]) => w1.name > w2.name ? 1 : -1).forEach(([wkey, weapon]) => { %>
              <option value="<%= wkey %>"><%= weapon.name %></option>
            <% }) %>
            <option disabled>-- MÊLÉE --</option>
            <% Object.entries(constants.weapons.melee).sort(([_k1, w1], [_k2, w2]) => w1.name > w2.name ? 1 : -1).forEach(([wkey, weapon]) => { %>
              <option value="<%= wkey %>"><%= weapon.name %></option>
            <% }) %>
            <option disabled>-- PISTOLETS --</option>
            <% Object.entries(constants.weapons.pistol).sort(([_k1, w1], [_k2, w2]) => w1.name > w2.name ? 1 : -1).forEach(([wkey, weapon]) => { %>
              <option value="<%= wkey %>"><%= weapon.name %></option>
            <% }) %>
            <option disabled>-- FUSILS --</option>
            <% Object.entries(constants.weapons.rifle).sort(([_k1, w1], [_k2, w2]) => w1.name > w2.name ? 1 : -1).forEach(([wkey, weapon]) => { %>
              <option value="<%= wkey %>"><%= weapon.name %></option>
            <% }) %>
          </select>
          <select name="attr_wtype" class="line-input editable">
            <option disabled value="none">-- CORPS-À-CORPS --</option>
            <option value="onehanded">À une main</option>
            <option value="twohanded">À deux mains</option>
            <option value="melee">Arme de mêlée</option>
            <option value="shield">Bouclier</option>
            <option disabled value="none">-- ARMES DE TIR --</option>
            <option value="pistol">Arme de poing</option>
            <option value="rifle">Fusil</option>
          </select>
          <select name="attr_wtype" class="line-input noneditable" tabindex="-1">
            <option disabled value="none">-- CORPS-À-CORPS --</option>
            <option value="onehanded">À une main</option>
            <option value="twohanded">À deux mains</option>
            <option value="melee">Arme de mêlée</option>
            <option value="shield">Bouclier</option>
            <option disabled value="none">-- ARMES DE TIR --</option>
            <option value="pistol">Arme de poing</option>
            <option value="rifle">Fusil</option>
          </select>
        </div>
        <div class="weapon-image">
          <button type="action" name="act_resetwimg" class="noneditable">*</button>
        </div>
        <div class="wdamage frow">
          <input
            type="number"
            class="editable"
            name="attr_whits"
            value="1"
            min="1"
          />
          <input
            readonly
            type="number"
            class="noneditable"
            name="attr_whits"
            value="1"
            min="1"
          />
          <span>x</span>
          <input
            type="number"
            name="attr_wwounds"
            class="editable"
            value="1"
            min="1"
            max="3"
          />
          <input
            readonly
            type="number"
            name="attr_wwounds"
            class="noneditable"
            value="1"
            min="1"
            max="3"
          />
          <span class="penetration">t</span>
          <input
            type="number"
            name="attr_wpenetration"
            class="editable"
            value="0"
            min="0"
          />
          <input
            readonly
            type="number"
            name="attr_wpenetration"
            class="noneditable"
            value="0"
            min="0"
          />
          <select name="attr_wwounds_type" class="editable">
            <option selected value="inc">Incapacitantes</option>
            <option value="leg">Légères</option>
            <option value="mod">Modérées</option>
            <option value="gra">Graves</option>
          </select>
          <select name="attr_wwounds_type" class="noneditable" tabindex="-1">
            <option value="inc">Incapacitantes</option>
            <option value="leg">Légères</option>
            <option value="mod">Modérées</option>
            <option value="gra">Graves</option>
          </select>
        </div>
        <div class="wcaliber frow fw">
          <h4 class="subtopic">Calibre<span>|></span></h4>
          <select name="attr_wcaliber" class="line-input editable">
            <% Object.entries(constants.calibers).forEach(([ckey, caliber]) => { %>
              <option value="<%= ckey %>"><%= caliber.name %></option>
            <% }) %>
          </select>
          <select name="attr_wcaliber" class="line-input noneditable" tabindex="-1">
            <% Object.entries(constants.calibers).forEach(([ckey, caliber]) => { %>
              <option value="<%= ckey %>"><%= caliber.name %></option>
            <% }) %>
          </select>
          <div class="caliber-img"></div>
        </div>
        <div class="wdescription">
          <textarea readonly name="attr_wdescription" class="noneditable" placeholder="Description"></textarea>
          <textarea name="attr_wdescription" class="editable" placeholder="Description"></textarea>
        </div>
        <div class="list-spacer"></div>
      </div>
    </div>
  </fieldset>
</div>
