<div class="dh-header fcol fw lefth">
  <div class="frow tqw">
    <%- include('./textInput.ejs', {
      constants,
      name: 'character_name',
      title: 'Agent name',
      options: {
        classes: ['ttw', 'pg']
      }
    }) %>
    <%- include('./numberInput.ejs', {
      constants,
      name: 'exp_left',
      title: 'Experience left',
      options: {
        defaultValue: 0,
        readOnly: true,
        classes: ['tw', 'pg']
      }
    }) %>
  </div>
  <div class="frow tqw bottomv">
    <div class="frow hw">
      <%- include('./bar.ejs', {
        constants,
        name: 'wounds',
        title: 'Wounds',
        options: {
          classes: ['ttw', 'pg']
        }
      }) %>
      <%- include('./pseudoMinmax.ejs', {
        constants,
        name: 'critwounds',
        title: 'Critical',
        options: {
          defaultValue: '0',
          min: '0',
          classes: ['tw', 'pg']
        }
      }) %>
    </div>
    <div class="frow hw">
      <%- include('./minmaxInput.ejs', {
        constants,
        name: 'fate',
        title: 'Fate',
        options: {
          classes: ['tw', 'pg']
        }
      }) %>
      <%- include('./pseudoMinmax.ejs', {
        constants,
        name: 'insanity',
        title: 'Insanity',
        options: {
          defaultValue: '0',
          min: '0',
          max: '100',
          classes: ['tw', 'pg']
        }
      }) %>
      <%- include('./pseudoMinmax.ejs', {
        constants,
        name: 'corruption',
        title: 'Corruption',
        options: {
          defaultValue: '0',
          min: '0',
          max: '100',
          classes: ['tw', 'pg']
        }
      }) %>
    </div>
  </div>
</div>
