<% const classList = options.classes && options.classes.length > 0 ? ` ${options.classes.join(' ')}` : '' %>
<div class="text-input frow centerv<%= classList %>">
  <% if (!!title) { %>
    <span><%= title %></span>
  <% } %>
  <input
    type="number"
    name="attr_<%= name %>"
    class="fgrow fshrink fw parchment-input"
    <%- options.placeholder ? `placeholder="${options.placeholder}"` : '' %>
    <%- options.defaultValue ? `value="${options.defaultValue}"` : '' %>
    <%- options.min ? `min="${options.min}"` : '' %>
    <%- options.max ? `max="${options.max}"` : '' %>
    <%- options.readOnly ? 'readonly' : '' %>
  />
</div>
