<div class="tab-button-wrapper nogrow fshrink fcol bottomv">
  <label class="tab-button frow centerv centerh fgrow fshrink bordeaux pg <%= value %>">
    <input
      type="radio"
      name="attr_<%= name %>"
      value="<%= value %>"
      <%= defaultChecked ? 'checked' : '' %>
    />
    <span><%= displayName %></span>
  </label>
</div>
