<input type="hidden" name="attr_current_tab" value="character" />
<div class="dh-wrapper">
  <div class="dh-avatar frow centerv centerh">
    <div class="dh-avatar-inner">
      <img name="attr_character_avatar" />
    </div>
  </div>
  <div class="tabs frow bottomv">
    <% Object.entries(constants.tabs).forEach(([tab, displayName], idx) => { %>
      <%- include('./components/tabButton.ejs', {
        name: 'current_tab',
        displayName,
        value: tab,
        defaultChecked: idx === 0
      }) %>
    <% }) %>
  </div>
  <div class="dh-inner fw">
    <%- include('./components/header.ejs', { constants }) %>
    <% Object.keys(constants.tabs).forEach(tab => { %>
      <%- include('./components/tab.ejs', { constants, tab }) %>
    <% }) %>
  </div>
</div>

<!-- ROLLTEMPLATES -->
<%- include('./rolltemplates.ejs', { constants }) %>

<!-- WORKERS -->
<script type="text/worker">
  var constants = {};
  <%- include('./constants.js') %>
  <%- include('./scripts.js') %>
</script>

