<div class="sc-wrapper">
  <!-- BEGIN SELECTORS -->
  <input type="hidden" name="attr_gender" />
  <input type="hidden" name="attr_race" />
  <input type="hidden" name="attr_current_tab" value="character" />
  <!-- END SELECTORS-->

  <div class="sc-frame fw">
    <%- include('./parts/header.ejs', { constants }) %>

    <div class="fw frow">
      <div class="sc-tabs-wrapper fcol hw">
        <select class="sc-tabs-header" name="attr_current_tab">
          <option value="character">Personnage</option>
          <option value="skills">Compétences</option>
        </select>
        <!-- TABS -->
        <%- include('./tabs/character.ejs', { constants }) %>
        <%- include ('./tabs/skills.ejs', { constants })  %>
      </div>
    </div>
  </div>
</div>

<!-- ROLLTEMPLATES -->
<%- include('./rolltemplates.ejs') %>

<!-- WORKERS -->
<script type="text/worker">
  var constants = {};
  <%- include('./constants.js') %>
  <%- include('./scripts.js') %>
</script>
