<% const equation = `@{${mainStat}} + @{${group.offStat}} * @{skl_${sk}_known} + @{grp_${gk}_known} + @{grp_${gk}_bonus} + @{skl_${sk}_bonus}` %>
<div class="sc-skill <%= sk %> fw frow">
  <div class="skill-prefix">|_</div>
  <span class="skl-total">
    <input
      disabled
      type="number"
      name="attr_skl_<%= sk %>_total"
      value="<%= equation %>"
    />
  </span>
  <label class="skill-checkbox skill-known" title="Connu">
    <input
      type="checkbox"
      name="attr_skl_<%= sk %>_known"
      value="1"
    />
    <div class="skill-checkmark known"></div>
  </label>
  <input type="hidden" name="attr_skl_<%= sk %>_mastered" />
  <label class="skill-checkbox skill-mastered" title="Maîtrisé">
    <input
      type="checkbox"
      name="attr_skl_<%= sk %>_mastered"
      value="1"
    />
    <div class="skill-checkmark mastered"></div>
  </label>
  <button
    type="action"
    name="act_roll_skill"
    class="line-input"
    data-name="<%= skillName %>"
    value="skl_<%= sk %>_total"
  ><%= skillName %></button>
  <div class="fcol skill-bonus">
    <div class="frow fw skill-plus">
      <input
        type="number"
        class="skl-bonus"
        name="attr_skl_<%= sk %>_bonus"
        value="0"
      />
    </div>
  </div>
  <!-- <div class="skill-stat main-stat">
    <%= constants.stats[mainStat].toUpperCase().slice(0, 3) %>
  </div>
  <div class="skill-stat off-stat">
    <%= constants.stats[offStat].toUpperCase().slice(0, 3) %>
  </div> -->
</div>
